.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  gap: 5rem;
  padding: 5rem;
}
.container img {
  width: 100%;
  height: 20rem;
  border-radius: 30px;
}
.adventure {
  background-color: #017d98;
  border-radius: 30px;
  margin: 0 30px;
  width: 22rem;
  height: 32rem;
  position: relative;
  color: white;
  box-shadow: 0 0 10px #00000070;
  text-align: center;
}

.info h2 {
  font-size: 24px;
  text-align: center;
}

.info p {
  font-size: 20px;
  text-align: center;
}

.details-btn .details {
  font-size: 18px;
  background-color: #ff8f34;
  color: white;
  padding: 12px 18px;
  border-radius: 30px;
  display: block;
  width: 40%;
  margin: auto;
  text-decoration: none;
  transition: 200ms ease-in-out;
  font-family: Cursive, sans-serif;
  cursor: pointer;
}

.details:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white !important ;
  color: #ff8f34 !important;
}
.catalog{
  min-height: 95vh;
}
