
<div *ngIf="isLoading">
  <app-loader/>
</div>  
<section *ngIf="!isLoading" class="catalog">
  <div class="container">
    <div class="adventure" *ngFor="let adventure of adventureList">
      <div class="info-container">
        <img src="{{ adventure.img }}" />
        <div class="info">
          <h2>{{ adventure.title }}</h2>
        </div >
        <div class="info">
          <p>Price : {{ adventure.price }}.00 BGN</p>
        </div>
        <div class="details-btn">
          <a routerLink="/adventures/catalog/{{ adventure._id }}" class="details"
            >Details</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
