<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
    <h1>{{user.email}}</h1>
    <p class="title">PCBUILDZ ENTHUSIAST</p>

</div>


    <h1>Your Buildz</h1>
    <div class="our_items" *ngFor="let adventure of adventureList">
        <div class="item_box">
            <figure>
                <img src={{adventure.img}} width="300" height="200" alt="img" />
            </figure>
            <h3><a [routerLink]="['/adventures/catalog', adventure._id]">{{ adventure.title }}</a></h3>
            <h2>{{ adventure.price }} BGN</h2><br>
            <p>{{adventure.description}}</p>
        </div>
    </div>
