.card {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
    max-width: 50%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
   
  }
  
  .title {
    color: rgb(70, 1, 110) 25%; 
    margin-top: 10px;
    font-size: 20px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(70, 1, 110) 25%; 

  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }


  h1 {
    text-align: center;
    padding-top: 3%;
}

.our_items {
    text-align: center;
    margin-top:30px;
    background-color: #fff;
    padding: 50px 50px;
    display: inline-block;
    justify-content: center;
    margin-left: 15%;
}

.our_items .item_box {
    text-align: center;
}

.our_items .item_box figure {
    margin: 0;
}

.our_items .item_box img {
    size: 100px 100px;
    image-resolution: 100px 100px;
    border: 7px solid black;
}

.our_items .item_box h3 {
    width: 300px;
    color: white;
    font-size: 20px;
    line-height: 20px;
    background-color: #252525;
    font-weight: 100px;
    margin: 0 auto;
    padding: 10px 0;
    transition: ease-in all 0.5s;
    text-decoration: none;
}
.our_items .item_box a{
    text-decoration: none;
    color: white;
}

.our_items .item_box h2 {
  margin-top: 20px;
}

.our_items .item_box p {
    width: 400px;
    color: rgb(0, 0, 0);
    font-size:15px;
    line-height: 20px;
    font-weight: 300;
    margin:0 0;
    padding: 0 0;
    transition: ease-in all 0.5s;
}

.our_items .item_box h3:hover {
   background:rgb(70, 1, 110) 25%; 
   transition: ease-in all 0.5s;
}

