<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="container-fluid">
  <h1>Your Adventures</h1>

  <div class="container-right">
    <div class="profile">
      <fieldset>
        <img class="profile-img" src="{{ profileDetails.img }}" alt="default user" />
        <h3>{{ profileDetails.username }}'s Info:</h3>

        <ng-container *ngIf="!isEditMode">
          <div class="flex">
            <p>Username:</p>
            <p>{{ profileDetails.username }}</p>
          </div>
          <div class="flex">
            <p>Email:</p>
            <p>{{ profileDetails.email }}</p>
          </div>
          <div class="flex">
            <p>Image:</p>
            <p>{{ profileDetails.img }}</p>
          </div>
          <button class="edit-button" (click)="toggleEditMode()">Edit</button>
        </ng-container>
      </fieldset>

      <fieldset>
        <ng-container *ngIf="isEditMode">
          <form [formGroup]="form" (ngSubmit)="saveProfileHandler()">
            <!-- username input-->

            <div class="flex">
              <p>Username:</p>
              <input
                type="text"
                name="username"
                value="{{ profileDetails.username }}"
                id="username"
                formControlName="username"
                required
                minlength="5"
              />
            </div>

            <!-- username validation-->

            <ng-container *ngIf="form.get('username')?.touched">
              <p
                class="error"
                *ngIf="form.get('username')?.errors?.['required']"
              >
                Username is required!
              </p>
              <p
                class="error"
                *ngIf="form.get('username')?.errors?.['minlength']"
              >
                Username's length should not be less than 5!
              </p>
            </ng-container>

            <!-- email input-->

            <div class="flex">
              <p>Email:</p>
              <input
                type="email"
                name="email"
                value="{{ profileDetails.email }}"
                id="email"
                formControlName="email"
                required
              />
            </div>

            <!-- email validations-->

            <ng-container *ngIf="form.get('email')?.touched">
              <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                Email is required!
              </p>
              <p
                class="error"
                *ngIf="form.get('email')?.errors?.['appEmailValidator']"
              >
                Email is not valid!
              </p>
            </ng-container>

            <!-- image input-->

            <div class="flex">
              <p>Image:</p>
              <div>
                <input
                  type="text"
                  name="img"
                  id="img"
                  value="{{ profileDetails.img }}"
                  formControlName="img"
                />
              </div>
            </div>
            <!-- Actions-->

            <button class="red-button">Cancel</button>
            <button class="green-button">Save</button>
          </form>
        </ng-container>
      </fieldset>
    </div>
  </div>
  <div class="container-left">
    <div class="our-adventures">
      <div class="adventure" *ngFor="let adventure of adventureList">
        <div class="info-container">
          <img src="{{ adventure.img }}" />
          <div class="info">
            <h2>{{ adventure.title }}</h2>
          </div >
          <div class="info">
            <p>Price : {{ adventure.price }} BGN</p>
          </div>
          <div class="details-btn">
            <a routerLink="/adventures/catalog/{{ adventure._id }}" class="details"
              >Details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
