<div class="container-fluid">
  <div class="body-holder">
    <h1>Welcome to Extreme Adventures</h1>
    <p>
      Welcome to the ultimate gateway for thrill-seekers and adventure
      enthusiasts! Our adventure site is your passport to adrenaline-fueled
      experiences, delivering an exhilarating array of heart-pounding escapades
      from around the globe. Unleash your wanderlust and explore our curated
      listings of epic adventures, where daring souls can conquer new frontiers
      and create unforgettable memories. Let the journey begin!
    </p>
    <div class="btn">
      <a routerLink="/adventures/catalog/most-recent">Latest Adventures </a>
    </div>
  </div>
</div>
