div #video-background {
    position:relative;
    top: 0px; /* Height of the navbar */
    left: 0;
    width: 100%;
    height: calc(90% - 120px); /* Adjust the height based on navbar and footer heights */
    object-fit: cover;
    z-index: 1;
  }