  .adventures {
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
  }
  .adventures-details {
  background-color: #017d98;
  width: 20rem;
  height: 40rem;
  position: relative;
  color: white;
  box-shadow: 0 0 10px #00000070;
  text-align: center;
  float: left;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
z-index: +1;
overflow: hidden;

  }

  .adventures-details img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  max-width: 100%;
  }

  .btn-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  }

  button {
  font-size: 18px;
  background-color: #ff8f34;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  display: block;
  width: 40%;
  margin-top: 46px;
  font-family:Cursive, sans-serif;
  cursor: pointer;
  transition: 200ms ease-in-out ;

  }
  button :hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white !important ;
    color: #ff8f34 !important;
  }

  .adventures-description {
  background-color: #017d98;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 33rem;
  height: 40rem;
  position: relative;
  color: white;
  box-shadow: 0 0 10px #00000070;
  text-align: center;
  overflow: hidden;
  font-family:Cursive, sans-serif;
  }

  .adventures-description h2{
    font-size: 26px;
  }

  .adventures-description p {
  text-align: start;
  padding-top: 20px;
  font-size: 23px;
  text-decoration: none;
  font-family:Cursive, sans-serif;
  margin: 0;

  }

  fieldset{
  max-width: 80%;
  width: 115rem;
  margin-left: 40px;
  border: none;
  }

  .adventures-details h3, h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  }

  p{
    word-break: break-all;
  }
