footer {
    background-color: #017D98; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    padding: -10px;
    margin-bottom: 100px;
    margin-top: -16px;

   
  }
  h1{
   font-size: 15px;
   display:flex;
   justify-content: center;
  }